* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 1000px;
    height: 70px;
    border: 1px solid red;
    text-align: center;
    line-height: 70px;
}

#menus div {
    width: 500px;
    height: 500px;
    border: 1px solid black;
    text-align: center;
    line-height: 150px;
}

footer {
    width: 1000px;
    height: 70px;
    border: 1px solid red;
    text-align: center;
    line-height: 70px;
}
